/part-3-python/b-class-object/a-class-raw.py
/part-3-python/b-class-object/b-class-and-object-raw.py
/part-3-python/b-class-object/c-instance-attribute-raw.py
/part-3-python/b-class-object/d-quiz-raw.py
/part-3-python/b-class-object/e-quiz-raw.py
/part-3-python/b-class-object/f-behaviour-pada-class-raw.py
/part-3-python/b-class-object/g-praktek-raw.py
/part-3-python/c-encapsulation/b-encapsulation-raw.py
/part-3-python/c-encapsulation/c-quiz-raw.py
/part-3-python/c-encapsulation/e-inheritance-raw.py
/part-3-python/c-encapsulation/e-inheritance-raw.py